* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    /* background-color: #B5E0FE; */
}

#carouselExampleDark {

    margin-top: 0; 
}

img {
    width: 100%;
}

.carousel-control-prev,.carousel-control-next{
    position: fixed;
    bottom: 45px;
}

.carouselExampleDark{
    position: fixed;
    bottom: 0px;
}
